<template>
  <div @androidback="back">
    <router-view style="flex:1" v-if="load"></router-view>
    <login v-else></login>
  </div>
</template>

<script>
  export default {
    components: {
      login: require('./views/LoginView.vue')
    },
    computed: {
      load () {
        console.log('store')
        console.log(this.$store.getters.userData)
        return this.$store.getters.userData && this.$store.getters.authParams
      }
    },
    methods: {
      back: function () {
        this.$router.back()
      }
    }
    // beforeMount () {
    //   console.log(this.$store.getters.userData)
    // }
  }
</script>
