<template>
  <div class="wrapper">
    <div class="tabbar" append="tree">
      <tabitem
        v-for="(item,$index) in tabItems"
        :key="$index"
        :index="$index"
        :title="item.title"
        @tabItemOnClick="tabItemOnClick"
        ></tabItem>
        <button style="margin-top:10px" :type="'info'" :size="'small'" :value="'back'" 
          @clicked="back()">
        </button>
    </div>
  </div>
</template>

<style scoped>
  .wrapper {
    width: 750px;
    height: 88px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 0px;
    margin-bottom: 88px;
  }
  .tabbar {
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 88px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #0086b3;
    background-color: #f8f8ff;
  }
  .fixed-button {
    position: absolute;
    background-color: #FC6621;
    border-radius: 10px;
    width: 120px;
    padding: 15px;
    color: white;
    text-align: center;
  }
</style>

<script>
  module.exports = {
    props: {
      tabItems: { default: [] },
      selectedColor: { default: '#ff0000' },
      unselectedColor: { default: '#000000' }
    },
    data: function () {
      return {
        selectedIndex: 0
      }
    },
    components: {
      tabitem: require('./tabitem.vue')
    },
    created: function () {
      this.select(this.selectedIndex)
    },
    methods: {
      tabItemOnClick: function (e) {
        this.selectedIndex = e.index
        // this.select(e.index);
        this.$emit('tabBarOnClick', e)
      },
      select: function(index) {
        for(var i = 0; i < this.tabItems.length; i++) {
          var tabItem = this.tabItems[i]
          if(i == index){
            tabItem.icon = tabItem.selectedImage
            tabItem.titleColor = this.selectedColor
            tabItem.visibility = 'visible'
          }
          else {
            tabItem.icon = tabItem.image
            tabItem.titleColor = this.unselectedColor
            tabItem.visibility = 'hidden'
          }
        }
      },
    }
  }
</script>
