<template>
  <div class="stories-view">
    <app-header></app-header>
    <div v-if = "stories.length > 0" class="story-cell" v-for="story in stories" :key="story.id" append="tree">
       <story :story="story" :bgColor="'#fffff'" @click="jump(`/${type}/${story.id}`)"></story>
    </div>
    <div v-else class="loading-text">Loading...</div>
    <tabbar :tabItems="tabs" @tabBarOnClick="tabclick"></tabbar>
  </div>
</template>

<script>
  export default {
    components: { 
      AppHeader: require('../components/app-header.vue'), 
      Story: require('../components/story.vue')
    },
    props: {
      type: {
        type: String,
        required: true
      },
      keys: {
        type: Array
      }
    },
    data () {
      return {
        loading: true
      }
    },
    methods: {
      fetchDetails () {
        return this.$store.getters.activeItems[this.$route.params.id]
        ? Promise.resolve(this.$store.getters.activeItems[this.$route.params.id])
        : Promise.all(this.keys.map(key => {
          var dat = ''
          if(key === 'invoices')
            dat = 'tripsinvoices'
          else
            dat = key

          this.$store.dispatch('LOAD_SUB', {
            http: this.http,
            type: dat,
            id: this.$route.params.id,
            path: this.$route.path + '/' + key
          })
       }))
      },
      tabclick (e) {
        var val = ''
        if (this.keys[e.index] === 'invoices')
          val = 'tripsinvoices'
        else
          val = this.keys[e.index]
        this.modal.showToast(val)
        this.$store.commit('SET_ACTIVE_TYPE', {type: val})
      }
    },
    computed: {
      stories () {
        return this.$store.getters.activeItems[this.$route.params.id]
      },
      tabs () {
        var config = []
        this.keys.map(key => {
          if (typeof key === 'string')
            config.push({title: key})
        })
        return config
      }
    },
    created () {
      this.modal.showToast(this.type)
      this.$store.commit('SET_ACTIVE_TYPE', {type: this.type})
    },
    mounted() {
      this.fetchDetails().then(() => {
        this.loading = false
      })
    }
  }
</script>

<style scoped>
  .stories-view {
    height: 100%;
  }
  .story-cell {
    margin-bottom: 3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    background-color: #FFFFFF;
  }
  .loading {
    width: 750px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-text {
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: #BBB;
  }
</style>
