<template>
	<div>
		<login :authParams = "authParams"></login>
		<div style="padding-left:250px; padding-top:70px;">
			<button :type="'info'" :size="'middle'" :value="'Log in'" 
			@clicked="login">
			</button>
		</div>
	</div>
</template>
<script>
	import login from '../components/login.vue'
	export default {
		data () {
			return {
				authParams: {email: '', password: ''}
			}
		},
		components: {login},
		methods: {
			login (e) {
				this.authParams.email.replace(/\s/g,'')
				this.authenticate(this.authParams)
				this.jump('/')
			}
		},
		created () {
			if (this.$store.getters.authParams)
				this.authParams = this.$store.getters.authParams
		}
	}
</script>