<template>
  <div class="stories-view" append="tree">
    <app-header></app-header>
    <list class="story-list" @loadmore="loadMoreStories" loadmoreoffset="50">
      <cell class="story-cell" v-for="story in stories" :key="story.id" append="tree">
        <story :story="story"  :bgColor="'#fffff'" 
        @click="jump(`/${type}/${story.id}`)"></story>
      </cell>
    </list>
    <div class="loading" v-if="loading">
      <text class="loading-text">loading ...</text>
    </div>
  </div>
</template>

<script>
  export default {
    components: {
      AppHeader: require('../components/app-header.vue'),
      Story: require('../components/story.vue')
    },
    props: {
      type: {
        type: String,
        required: true,
        default: 'programs'
      },
      keys: {
        type: Array,
        required: true
      },
    },
    data () {
      return {
        loading: true
      }
    },

    computed: {
      stories () {
        return this.$store.getters.activeItems
      }
    },

    methods: {
      fetchListData () {
        this.loading = true
        this.$store.dispatch('FETCH_LIST_DATA', {
          type: this.type,
          http:this.http,
          path:this.$route.path,
          keys: this.keys
        })
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })

      },
      loadMoreStories () {
        this.loading = true
        this.$store.dispatch('LOAD_MORE_ITEMS',{
          http:this.http,
          path:this.$route.path
        }).then(() => {
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      }
    },
    created () {
      this.fetchListData()
    }
  }
</script>

<style scoped>
  .stories-view {
    height: 100%;
  }
  .story-cell {
    margin-bottom: 3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    background-color: #FFFFFF;
  }
  .loading {
    width: 750px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-text {
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: #BBB;
  }
</style>
