<template>
  <div class="header">
    <div class="logo" @click="jump('/')">
      <text class="image">Go</text>
    </div>
    <div class="nav">
      <div class="link" @click="jump('/programs')">
        <text class="title">Programs</text>
      </div>
      <div class="link" @click="jump('/invoices')">
        <text class="title">Invioces</text>
      </div>
      <div class="link" @click="unauthenticate">
        <text class="logout">Logout</text>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .header {
    position: relative;
    height: 120px;
    margin-bottom: 3px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #0086b3;
    background-color: #f8f8ff;

  }
  .logo {
    position: relative;
    width: 50px;
    height: 50px;
    top: 35px;
    left: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: #590000;
  }
  .image {
    width: 70px;
    height: 44px;
    color: #590000;
  }
  .nav {
    display: flex;
    position: absolute;
    left: 120px;
    top: 35px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .link {
    padding-left: 15px;
    padding-right: 60px;
  }
  .logout {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
    line-height: 44px;
    color: #590000;
  }
  .title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
    line-height: 44px;
    color: #0086b3;
  }
</style>
