<template>
<div>
  <div class="logo">
    <div class="item">
      <text style="color: #590000;">GO Events</text>
    </div>
  </div>
  <div style="padding-left:150px;">
		<div class="element"><input v-model="authParams.email" type="text element" placeholder="email"/></div>
		<div class="element"><input v-model="authParams.password" type="password" placeholder="Password"/></div>
	</div>
</div>
</template>
<script>
  export default {
    props: ['authParams']
  }
</script>
<style>
	.logo{ 
    background-color: #f0ffff;
    padding-bottom:100px;
    width: 750px;
    height: 550px;
  }
	.element {
    width: 450px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    /*line-height: 1.5;*/
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #0086b3;
  }
  .item {
    position: relative;
    top:225px;
    left:325px;
    bottom: 20px;
    width: 105px;
    border:7px solid #590000;
  }
</style>
