<template>
  <div :style="{ backgroundColor: bgColor }"
      class="cell-item" 
      v-on:touchstart="touchstart"
      v-on:touchend="touchend"
      @click="click"
      >
    <text class="story-score">{{story.id}}</text>
    <div class="text-group" v-for="name in names">
    <text class="story-title name-text">
    {{name.key}}</text>
    <text class="story-title">
    {{name.val}}</text>
    </div>
  </div>
</template>

<style scoped>
  .cell-item {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: center;
    border-bottom-width: 3px;
    border-color: #0086b3;
  }
  .story-score {
    position: absolute;
    width: 100px;
    text-align: center;
    left: 0;
    top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #FF6600;
  }
  .story-link {
    margin-bottom: 25px;
    width: 610px;
  }
  .story-title {
    font-size: 33px;
    color: #404040;
  }
  .small-text {
    color: #BBB;
    font-size: 22px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, sans-serif;
  }
  .link-text {
    /*color: red;*/
    text-decoration: underline;
  }
  .text-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .text-cell {
    flex-grow: 0;
  }
  .name-text {
    color: #0086b3;
  }
</style>

<script>
  export default {
    components: {
      ExternalLink: require('./external-link.vue')
    },
    props: {
      story: {
        type: Object,
        required: true
      },
      val: {type: String},
      bgColor: { default: '#ffffff' }
    },
    computed: {
      names () {
        return this.getName(this.$route.path, this.story)
      }
    },
    methods: {
      touchstart: function(e) {
        this.bgColor = '#e6e6e6';
      },
      touchend: function(e) {
        this.bgColor = '#ffffff';
      },
      click () {
        this.$emit('click')
      }
    }
  }
</script>
