<div class="row" style="margin-top: 10%;">
  <div class="col-md-6 offset-md-3">
    <form novalidate [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <p class="h5 text-left mb-4">Create</p>

      <div class="md-form">
        <i class="fa fa-pencil left grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control" formControlName="title" mdbActive>
        <label for="defaultForm-email"></label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <textarea class="form-control" rows="5" 
          formControlName="title" mdbActive></textarea>
        <label for="defaultForm-body"></label>
      </div>

      <div class="text-left">
        <button class="btn btn-default waves-light" type="submit" [disabled]="!postForm.valid" mdbRippleRadius>Create</button>
      </div>
    </form>
   
  </div>
</div>
