<div class="row" style="margin-top: 10%;">
  <div class="col-sm-3">
     <button type="button" class="btn btn-default" (click)="newPost()"><i class="fa fa-info-circle" aria-hidden="true"></i>Create</button>
  </div>
  <div class="col-sm-6">
    <table class="table">

      <!--Table head-->
      <thead class="mdb-color light-blue lighten-5">
        <tr class="text-indigo">
          <th>User #</th>
          <th>#</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr *ngFor="let post of posts">
          <th scope="row">{{ post.userId }}</th>
          <td>{{ post.id }}</td>i
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editPost(post)"><i class="fa fa-pencil left"></i>update</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deletePost(post)"><i class="fa fa-times" aria-hidden="true"></i>delete</button>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
</div>
