<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light light-blue lighten-5">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">GiveMeMoney</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius>Users</a>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
    <a class="nav-link fa-share-square-o"></a>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<section class="section feature-box">
  <router-outlet></router-outlet>
</section>